
header{
    background-color: #f4f813;
    color: white;
}

.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #f0ed37;
    color: rgb(0, 0, 0);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;


}

.pets{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 5%;

}

body{
    background-color: #f4f813;
    color: black;
}

.logoenome{
    display: flex;
    vertical-align: center;
}
.frase{
    text-align: center;
}
